<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ape.qrcode">
    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.ape.qrcode.CaptureActivity"
            android:label="@string/scan_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" >

        </activity>
    </application>

</manifest>
