html, body{height:100%;}
.main{
	background: none repeat scroll 0 0 #000;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
	color:#fff;
	text-align:center;
}

.main .header{
	font-weight:600;
	height:70px;
	padding-top:38px;
	font-weight:500;
}

.main .header .bigFont{
	font-size:28px;
	line-height:30px;
	height:30px;
}

.main .header .smallFont{
	font-size:20px;
	height:52px;	
	line-height:52px;
}

.main .container{
	margin-left: auto;
	height:400px;
	margin-right: auto;
	margin-top:30px;
	position:relative;
}

.main .imgbg{
	background:url(../srcimg/ic_lan_connection_alert.png) no-repeat center;
	height:400px;
	width:300px;
	margin:0 auto;
	
}

.main .panel{
	background:#fff;
	height:100px;
	width:200px;
	top:-248px;
	color:#000;
	line-height:4px;
	text-align:left;
	position:relative;
	margin:0 auto;
	z-index:200;
	border-radius:5px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.main .panel p{
	margin-left:15px;
	height:22px;
	line-height:22px;
}
.main .panel p:first-child{
	padding-top:10px;
}
.main .panel .selectP{
	text-align:right;
	margin:12px;
}

.shadow{
	width:100%;
	height:100%;
	background:#000;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0.4
}

#href{
	color:#8e8e8e;
}

#refuse{
	color:#8e8e8e;
}

#accept{
	color:red;
	margin-left:16px;
}

