<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ape.photopicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name=".PhotoPickDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoPickActivity"
            android:label="@string/photo_picker"
            android:screenOrientation="portrait" />
    </application>

</manifest>
